body
{
    font-family: 'Pacifico', cursive;
    background: #86ff56;
}

.header_div
{
    background: #fbff00;
    color: black;
}

.header_div img
{
    width: 100px;
}

.main_div
{
    background: #d9ff00;
    padding: 10px;
    margin-top: 15px;
    border:3px solid white;
}

.main_div label
{
    background: white;
    padding: 10px;
    width: 300px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

#camera , #result
{
    width: 300px;
    border: 2px solid white;
    box-shadow: 5px 5px 18px white;
    height: 300px;
}

.main_div button
{
    width: 300px;
    font-size: 18px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}

.footer_div
{
    margin-bottom: 50px;
}

.footer_div h4
{
    background:lightcyan ;
    box-shadow: 5px 5px 18px white;
    border-radius: 13px;
    padding: 5px;
}

.footer_div img
{
    width: 85px;
}

.copy_right_footer
{
    position: fixed;
    color: black;
    background-color: lightpink;
    bottom: 0px;
    width: 100%;
    line-height: 3;
    text-align: center;
}

